<h2>Login <a class="subhead">{{appId}}</a></h2>
<ul class="one columns">
    <li class="field">
        User name: <input #username type="text" class="field text input"/>
    </li>
    <li class="field">
        Password: <input #password type="password" class="field text input"/>
    </li>
    <li>
     <button (click)="clicked(username.value, password.value)" class="pretty large default btn clickable field" type="button">Login</button> 
    </li>
    <li>
        Create a new account <a routerLink="../logreg" routerLinkActive="active">here</a>
    </li>
</ul>