<h2>Register</h2>
<ul class="one columns">
    <li class="field">
        User name: <input #username type="text" class="field text input"/>
    </li>
    <li class="field">
        Password: <input #password1 type="password" class="field text input"/>
    </li>
    <li class="field">
        Repeat password: <input #password2 type="password" class="field text input"/>
    </li>
    <li>
     <button (click)="clicked(username.value, password1.value, password2.value)" class="pretty large default btn clickable field" type="button" >Register</button> 
    </li>
</ul>